**/__pycache__/**
**/.vscode/**
**/**.txt
LaTeX/**.aux
LaTeX/**.fdb_latexmk
LaTeX/**.fls
LaTeX/**.log
LaTeX/**.out
LaTeX/**.gz
LaTeX/iRP-SeminarVorlage.pdf
LaTeX/**.bbl
LaTeX/**.blg
Multi/result_sim.txt
